:root {
    --cor-primaria: #183C63;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;

    --fonte-principal: 'Segoe UI', sans-serif;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tema-escuro {
    --cor-primaria: #619ee7;
    --cor-secundaria: #3076c2;
    --cor-fundo: #0f172a;
    --cor-texto: #c4ccd4;
    --cor-contraste: #1e293b;
    --cor-botao: #151428;
}

.tema-escuro button {
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
}

.tema-escuro article {
    background-color: #f7eeee0c;
}

.tema-escuro h2 {
    color: var(--cor-primaria);
}

.tema-escuro .artigo-autor {
    color: var(--cor-secundaria);
}

body {
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
}

header,
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    max-width: 100vw;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*Testar outros (testar flex direction tbm)*/
}

article {
    display: flex;
    border-radius: 8px;
    margin: 1rem;
    gap: 1rem;
    padding: 1rem;

    /* Mobile-first */
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

img {
    width: 80px;
    height: 80px;
}

h2 {
    margin: 0;
}

.artigo-autor {
    font-weight: bold;
}

a {
    color: rgb(108, 108, 242);
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 2rem;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
}